<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEM</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link 
      href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap"
      rel="stylesheet"/
    >
    <link 
      href="https://fonts.googleapis.com/css2?family=Unica+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css"
      integrity="sha256-WAgYcAck1C1/zEl5sBl5cfyhxtLgKGdpI3oKyJffVRI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css"/>
</head>
<body class="page">
    <nav class="navigation">
        <div class="title navigation__title">JACKETS</div>

        <div class="navigation__block">
            <div class="selector">
                <label for="" class="selector__label">Filter by</label>

                <select name="" id="" class="selector__input">
                    <option class="selector__option" value="">All</option>
                    <option class="selector__option" value=""></option>
                </select>
            </div>

            <div class="selector">
                <label for="" class="selector__label">Sort by</label>

                <select name="" id="" class="selector__input">
                    <option class="selector__option" value="">Featured</option>
                    <option class="selector__option" value=""></option>
                    <option class="selector__option" value=""></option>
                </select>
                </div>
            </div>
        </div>
    </nav>

    <section class="products">
        <div class="product">
            <span class="product__sale">SALE</span>
            <div>
                img
            </div>
            <div class="product__info">
                <div class="product__name"></div>
                <div class="product__price"></div>
            </div>
        </div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
    </section>
</body>
</html>