<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEM</title>
</head>
<body>
    <nav class="navigation">
        <div class="navigation__title">JACKETS</div>

        <div class="navigation__title"></div>

        <div class="naviagation__filter">
            <label for="" class="navigation__label">Filter by</label>
            <select name="" id="" class="navigation__select">
                <option value=""></option>
                <option value=""></option>
            </select>
        </div>

        <div class="naviagation__sort">
            <label for="" class="navigation__label">Sort by</label>
            <select name="" id="" class="navigation__select">
               <option value=""></option>
               <option value=""></option>
               <option value=""></option>
            </select>
        </div>
        
    </nav>
    <section class="products">
        <div class="product">
            <span class="product__sale">SALE</span>
            <div>
                img
            </div>
            <div class="product__info">
                <div class="product__name"></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div></div>
        </div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
        <div class="product"></div>
    </section>
</body>
</html>