* {
  box-sizing: border-box;

  font-family: Karla, sans-serif;

  padding: 0;
  margin: 0;
}

@import "page";
@import "navigation";
@import "title";
@import "selector";
@import "products";
@import "product";
